<div class="background-image"></div>

<ion-content fullscreen *ngIf="usuario">

  <div class="main-container-profile">
    <app-header-profile introText="¡Lo que más te gusta!"></app-header-profile>
    
    <div class="logo-section-container">
      <div class="logo-container">
        <!-- Imagen temporal -->
        <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Logo Favoritos" style="border-radius: 50%;" />
      </div>
      <p>FAVORITOS</p>
      <p>¡Aquí encontrarás todos los productos que te encantaron!</p>
    </div>

    <!-- Lista de Favoritos -->
    <div class="products-container" *ngIf="productosFiltrados.length > 0; else emptyFavs">
      <app-product-card *ngFor="let producto of productosFiltrados" 
        [id]="producto.id" 
        [name]="producto.nombre"
        [price]="producto.precio" 
        [imageUrl]="producto.imagen_url">
      </app-product-card>
    </div>

    <!-- Mensaje vacío -->
    <ng-template #emptyFavs>
      <div style="text-align: center; margin-top: 20px; color: #666;">
        <p>Aún no tienes favoritos ❤️</p>
        <ion-button routerLink="/home" color="danger" fill="outline" shape="round">
          Explorar menú
        </ion-button>
      </div>
    </ng-template>

  </div>
</ion-content>

<app-navbar></app-navbar>