<div class="background-image"></div>

<ion-content fullscreen *ngIf="usuario">
  <div class="main-container-profile">
    
    <app-header-profile introText="¡Tus guardados!"></app-header-profile>
    
    <div class="logo-section-container">
      <div class="logo-container">
        <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Logo Favoritos" style="border-radius: 50%;" />
      </div>
      <p>FAVORITOS</p>
      <p>Tu lista de deseos. ¡Añádelos al carrito cuando quieras!</p>
    </div>

    <div class="products-container" *ngIf="productosFiltrados && productosFiltrados.length > 0; else noFavorites">
      <app-product-card 
        *ngFor="let item of productosFiltrados" 
        [id]="item.id" 
        [name]="item.nombre"
        [price]="item.precio" 
        [imageUrl]="item.imagen_url">
      </app-product-card>
    </div>

    <ng-template #noFavorites>
      <div style="text-align: center; margin-top: 20px; color: #666;">
        <p>Aún no tienes favoritos 💔</p>
        <ion-button routerLink="/home" color="warning" shape="round">
          Explorar productos
        </ion-button>
      </div>
    </ng-template>

  </div>
</ion-content>

<app-navbar></app-navbar>