<ion-content [fullscreen]="true" class="cargando-content">
  <section class="cargando-container">
    <div class="gif-container">
      <img src="/assets/img/gif-chicken.gif" onerror="this.style.display='none'" alt="Cargando pedido" />
      <ion-spinner name="bubbles" color="warning" style="transform: scale(3);"></ion-spinner>
    </div>
    <div class="text-container">
      <p>Estamos procesando tu pedido...</p>
      <p style="font-size: 0.9em; font-weight: normal; color: white;">Por favor espera un momento</p>
    </div>
  </section>
</ion-content>