$primary-yellow: #fab222;
$primary-green: #417533;
$secondary-green: #3b6630;
$color-dark: #120000;
$white: #ffffff;
$font-family: "Inter", sans-serif;

.product-card-container {
  display: flex;
  background-color: #f0ebeb;
  height: 17em;
  width: 100%;
  border: 3px solid $color-dark;
  border-radius: 40px;
  padding: 15px 10px;
  gap: 10px;
  flex-direction: column;
  position: relative; /* Necesario para el z-index */
  cursor: pointer;
}

.image-product-container {
  display: flex;
  background-color: #d9d9d9;
  height: 10em;
  border-radius: 40px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-product-container {
  display: flex;
  padding: 10px;
  line-height: 1.1;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: $font-family;
  font-size: 1.1rem;
  color: $secondary-green;
  font-weight: 900;
  background-color: #e6e6e6;
  height: 4em;
  border-radius: 40px;
  width: 100%;
}

.product-subcontainer {
  display: flex;
  gap: 5px;
  height: 3em;
  width: 100%;
  align-items: center;
}

.price-container {
  display: flex;
  background-color: #d9d9d9;
  height: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-size: 18px;
  font-weight: 900;
  width: 65%;
  border-radius: 30px;
}

/* ESTILOS DEL BOTÓN AGREGAR */
.add-product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-green;
  border: 3px solid $color-dark;
  border-radius: 40px;
  font-size: 24px;
  width: 35%;
  height: 100%;
  cursor: pointer;
  z-index: 100; /* Asegura que esté por encima del contenedor */
  transition: background-color 0.2s;

  ion-icon {
    color: #f0f0f0;
    pointer-events: none; /* Deja que el click pase al div padre (.add-product) */
  }
}

.add-product:active {
  transform: scale(0.95);
}

.add-product:hover {
  background-color: $secondary-green;
}