<div class="product-card-container" (click)="goToDetail()">
  
  <div class="image-product-container">
    <img [src]="imageUrl || 'https://ionicframework.com/docs/img/demos/card-media.png'" alt="Producto">
  </div>

  <div class="text-product-container">
    {{ name }}
  </div>

  <div class="product-subcontainer">
    <div class="price-container">
      S/ {{ price | number:'1.2-2' }}
    </div>
    
    <div class="add-product" (click)="add($event)">
      <ion-icon name="add-outline"></ion-icon>
    </div>
  </div>

</div>