$primary-yellow: #fab222;
$primary-green: #417533;
$secondary-green: #3b6630;
$primary-red: #8d2516;
$hover-yellow: #e4a21d;
$color-dark: #120000;
$white: #ffffff;
$light-gray: #737373;
$text-dark: #151515;
$font-family: "Inter", sans-serif;

@mixin cover-background($url) {
  background: url($url) no-repeat center center/cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-image {
  @include cover-background("/assets/img/background-image.png");
  background-color: #f4f4f4; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

ion-content {
  position: relative;
  z-index: 1;
  --background: transparent;
  display: block;
  width: 100%;
}

.main-container-profile {
  display: block;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 3.3em 1.3em 0em 1.3em;
  box-sizing: border-box;
  overflow-y: auto;
}

.logo-section-container {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 35%;
  padding: 0px;
  flex-direction: column;
}

.logo-container {
  width: 80%;
  margin-bottom: 10px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 10em;
    height: auto;
    object-fit: contain;
  }
}

.logo-section-container p {
  margin: 0;
  text-align: center;
}

.logo-section-container p:first-of-type {
  font-size: 35px;
  font-weight: 900;
  color: $primary-red;
  font-family: $font-family;
}

.logo-section-container p:last-of-type {
  font-size: 12px;
  font-weight: 500;
  color: $text-dark;
  margin-top: 2px;
  font-family: $font-family;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: transparent;
  border-radius: 40px;
  width: 100%;
  padding-bottom: 70px;
  box-sizing: border-box;
}