<div class="background-image"></div>

<ion-content fullscreen>
  <div class="main-container" *ngIf="producto">

    <button class="btn-back" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      <p>Regresar</p>
    </button>

    <div class="product-image-container">
      <img [src]="producto.imagen_url || 'https://ionicframework.com/docs/img/demos/card-media.png'" alt="Producto">
    </div>

    <div class="title-row">
      <h1 class="product-title">{{ producto.nombre | uppercase }}</h1>
      
      <div class="icons-container">
        
        <button class="icon-btn" (click)="toggleCarrito()">
          <ion-icon [name]="isInCart ? 'cart' : 'cart-outline'" 
                    [style.color]="isInCart ? '#fab222' : '#8d2516'">
          </ion-icon>
        </button>
        
        <button class="icon-btn" (click)="toggleFavorite()">
          <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'" 
                    [style.color]="isFavorite ? '#fab222' : '#8d2516'">
          </ion-icon>
        </button>

      </div>
    </div>

    <div class="description-container">
      <p>{{ producto.descripcion || 'Sin descripción.' }}</p>
    </div>

    <section class="footer-info">
      <div class="price-box">
        <span class="label">Total:</span>
        <span class="price">S/ {{ producto.precio | number:'1.2-2' }}</span>
      </div>
      
      <button class="order-btn" (click)="cartPay()">
        Pedir
      </button>
    </section>

  </div>
</ion-content>

<app-navbar></app-navbar>